<nav class="row tabs-container justify-content-center align-items-end">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link menu-link" href="home.html"><img alt="app-logo" class="tab-logo" src="assets/logo.png"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link menu-link" href="chat.html">Chat</a>
        </li>
        <li class="nav-item">
            <a class="nav-link menu-link" href="profile.html">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link menu-link active" href="history.html">History</a>
        </li>
    </ul>
</nav>
<div class="container text-size">
    <h1>Activity Log</h1>
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Activity</th>
                <th scope="col">Date</th>
                <th scope="col">Points</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Hangout in the park with friends</td>
                <td>Yesterday</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Motivational Movie</td>
                <td>Last Monday</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Psicological Session 03</td>
                <td>March 03</td>
                <td>15</td>
            </tr>
        </tbody>
    </table>
    <label>Showing 10 of 27 items</label>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>