@import '../../variables.scss';
@function suma($valor1,$valor2) {
    @return $valor1 + $valor2;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
    $tabs-height: 60px;
    $panic-diameter: $panic-diameter-mobile;
    $text-size: 16px;
    $max-text-size: suma($text-size, 20px);

    .home-container {
        height: calc(100% - #{$tabs-height});
    }

    .panic-button {
        border-radius: 50%;
        height: $panic-diameter;
        width: $panic-diameter;
        background-color: red;
        font-size: $max-text-size;
    }

    .toast-fixed {
        position: absolute;
        right: 0;
        top: 0;

        .toast-header {
            background-color: red;
            color: white;
        }
    }

    .home {
        .toast {
            margin-top: 40px;
            width: 100%;
            font-size: $text-size;
            max-width: none;
        }
    }

    .activity {
        width: 60%;
        font-size: $text-size !important;
        margin: 4px 0;
        border-radius: 20px;
    }

    .activities {
        font-size: $text-size;
    }
}

@media only screen and (min-width: 577px) {
    $tabs-height: 60px;
    $panic-diameter: $panic-diameter-desktop;
    $text-size: 16px;
    $max-text-size: suma($text-size, 20px);

    .home-container {
        height: calc(100% - #{$tabs-height});
    }

    .panic-button {
        border-radius: 50%;
        height: $panic-diameter;
        width: $panic-diameter;
        background-color: red;
        font-size: $max-text-size;
    }

    .toast-fixed {
        position: absolute;
        left: 0;
        bottom: 0;

        .toast-header {
            background-color: red;
            color: white;
        }
    }

    .home {
        .toast {
            font-size: $text-size;
        }
    }

    .activity {
        width: 60%;
        font-size: $text-size !important;
        margin: 4px 0;
        border-radius: 20px;
    }

    .activities {
        font-size: $text-size;
    }
}