.profile-img {
    border-radius: 50%;
    width: 20%;
    margin: 0% 50%;
}

.name-profile {
    margin: 5%;
    font-size: 1.5em;
}

.badge-pill {
    padding-right: 0.3em;
    padding-left: 0.3em;
    border-radius: 10rem;
}

.badge-primary {
    margin-left: 15px;
}

.list-group-item {
    display: inherit;
}

.form-control {
    height: auto;
    font-size: 0.6em;
}

.btn {
    font-size: 1em;
}

.btn-group,
.btn-group-vertical {
    width: 100%;
    margin: 10px;
}

.btn-block {
    margin: 0 65px;
}