<nav class="row tabs-container justify-content-center align-items-end">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link menu-link" href="home.html"><img alt="app-logo" class="tab-logo" src="assets/logo.png"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link menu-link" href="chat.html">Chat</a>
        </li>
        <li class="nav-item">
            <a class="nav-link menu-link active" href="profile.html">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link menu-link" href="history.html">History</a>
        </li>
    </ul>
</nav>
<div class="d-flex flex-column justify-content-center align-items-center">
    <img alt="profile example" class="profile-img" src="https://direct.rhapsody.com/imageserver/images/alb.416504108/500x500.jpg">
    <p class="name-profile text-size">Clint Reyna</p>
    <ul class="list-group list-group-flush text-size">
        <li class="list-group-item">
            E-Mail: clint@gmail.com
        </li>
        <li class="list-group-item">
            Emergency Contact: 453984658
        </li>
        <li class="list-group-item">
            Language: English
            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Select other
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">English</a>
                    <a class="dropdown-item" href="#">Spanish</a>
                </div>
            </div>
        </li>
    </ul>
    <a href="edit.html" class="btn btn-primary btn-lg text-size">Edit</a>