<nav class="row tabs-container justify-content-center align-items-end">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link menu-link" href="home.html"><img alt="app-logo" class="tab-logo" src="assets/logo.png"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link menu-link" href="chat.html">Chat</a>
        </li>
        <li class="nav-item">
            <a class="nav-link menu-link active" href="profile.html">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link menu-link" href="history.html">History</a>
        </li>
    </ul>
</nav>
<div class="container" style="padding:10%">
    <div class="row justify-content-center align-items-center text-size">
        <img alt="profile example" class="profile-img" src="https://direct.rhapsody.com/imageserver/images/alb.416504108/500x500.jpg">
        <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="photo">Photo</span>
                </div>
                <input type="url" class="form-control" aria-label="Default" aria-describedby="photo" value="https://direct.rhapsody.com/imageserver/images/alb.416504108/500x500.jpg" required>
            </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="name">Name</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="name" value="Clint Reyna" required>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="email">Email</span>
            </div>
            <input type="email" class="form-control" aria-label="Default" aria-describedby="email" value="clint@gmail.com" required>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="contact">Emergency Contact</span>
            </div>
            <input type="number" class="form-control" aria-label="Default" aria-describedby="contact" value="7549374758" required>
        </div>
        
        <a href="profile.html" class="btn btn-primary btn-lg btn-block">Save</a>
    </div>

</div>