<nav class="row tabs-container justify-content-center align-items-end">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link menu-link active" href="home.html"><img alt="app-logo" class="tab-logo" src="assets/logo.png"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link menu-link" href="chat.html">Chat</a>
        </li>
        <li class="nav-item">
            <a class="nav-link menu-link" href="profile.html">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link menu-link" href="history.html">History</a>
        </li>
    </ul>
</nav>
<div class="home-container">
    <div class="cl-6">
        <div class="cl-2 text-center">
            <h1>Activities today</h1>
        </div>
        <div class="cl-10 container activities" style="overflow-y: scroll">
            <ul class="list-group">
                <li class="list-group-item list-group-item-secondary">
                    <div class="row full-width">
                        <div class="col-10 d-flex align-items-center"> Schoolarship application</div>
                        <div class="col-2 d-flex flex-column align-items-end justify-content-center">
                            <i class="fas fa-window-close m-1"></i>
                            <i class="fas fa-check m-1"></i>
                        </div>


                    </div>

                </li>
                <li class="list-group-item list-group-item-secondary">
                    <div class="row full-width">
                        <div class="col-10 d-flex align-items-center">Dinner with my cousin</div>
                        <div class="col-2 d-flex flex-column align-items-end justify-content-center">
                            <i class="fas fa-window-close m-1"></i>
                            <i class="fas fa-check m-1"></i>
                        </div>


                    </div>
                </li>
                <li class="list-group-item list-group-item-success">
                    <div class="row full-width">
                        <div class="col-10 d-flex align-items-center">Movie with my mom</div>
                        <div class="col-2 d-flex flex-column align-items-end justify-content-center">
                            <i class="fas fa-window-close m-1"></i>
                            <i class="fas fa-check m-1"></i>
                        </div>


                    </div>
                </li>
                <li class="list-group-item list-group-item-warning">
                    <div class="row full-width">
                        <div class="col-10 d-flex align-items-center">Call to my ex</div>
                        <div class="col-2 d-flex flex-column align-items-end justify-content-center">
                            <i class="fas fa-window-close m-1"></i>
                            <i class="fas fa-check m-1"></i>
                        </div>


                    </div>
                </li>
                <li class="list-group-item list-group-item-warning">
                    <div class="row full-width">
                        <div class="col-10 d-flex align-items-center">Delete photos of my ex</div>
                        <div class="col-2 d-flex flex-column align-items-end justify-content-center">
                            <i class="fas fa-window-close m-1"></i>
                            <i class="fas fa-check m-1"></i>
                        </div>


                    </div>
                </li>
            </ul>

        </div>



    </div>
    <div class="cl-6">
        <div class="cl-6 d-flex flex-column align-items-center justify-content-center">
            <a href="chat.html" class="btn btn-success activity">Register a healing activity</a>
            <a href="chat.html" class="btn btn-secondary activity">Register a neutral activity</a>
            <a href="chat.html" class="btn btn-warning activity">Register a warning activity</a>
        </div>
        <div class="cl-6 d-flex align-items-center justify-content-center">
            <a id="panic-button" class="d-flex align-items-center justify-content-center panic-button text-center">
                Panic Button!
            </a>
        </div>

    </div>


</div>
<div id="panic-toast" role="alert" aria-live="assertive" aria-atomic="true" class="toast toast-fixed"
    data-autohide="true" data-delay="2000">
    <div class="toast-header">
        <i class="fas fa-exclamation-circle"></i>
        <strong class="mr-auto">Emergency button touched</strong>
        <small>Now</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        This is an emergency, calling your contact...
    </div>
</div>