<div class="container">
    <h1>Evidences</h1>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="assets/validations/login.png" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="assets/validations/home.png" alt="second slide">
            </div>

            <div class="carousel-item">
                <img class="d-block w-100" src="assets/validations/chat.png" alt="third slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="assets/validations/profile.png" alt=" slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="assets/validations/profile-edit.png" alt=" slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="assets/validations/history.png" alt=" slide">
            </div>


        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only" style="color: black;">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only" style="color: black;">Next</span>
        </a>
    </div>

</div>